@import "tailwindcss";

@theme {
  --color-brand-blue: #1e3a8a;
  --color-brand-magenta: #be185d;
  --color-brand-orange: #f59e0b;
  --color-primary: var(--color-brand-orange);
  --color-secondary: var(--color-brand-blue);
  --font-sans: "Inter", sans-serif;
}

body {
  @apply bg-zinc-50 text-zinc-900;
}
